<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Data_types%2Cvariables_and_type_conversions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA TYPES**
- 'int : having only a single value'
- 'float : having decimal values'
- 'string' : having test in between the codes'
             - python is line by line excecution

In [39]:
print("python")

python

In [40]:
#int
a=12    #a is variable stored in memory allocation
print(a)  # calling the value 10
type(a)    #using type we can find out the variable

12

int

In [41]:
#float
a=15.1
a=12.3  # the value is ubdated and replaced
print(a)
type(a)

12.3

float

In [42]:
#strings
a="python is powerfull"
print(a)
type(a)

python is powerfull

str

-syntax--rules we need to follow to write a code

**VARIABLES**

---

*-'Rules to create a variable.'
---

*-1.'Never start a variable with a number'
---
*-2.'if u want to start a variable with a number use underscore(_)'
---
*-3.'space is not allowed if u want use underscore'
---
*-4.Python is case sensitive
---
*-5.Dont use symbols !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

---

In [43]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [63]:
#Rule 1 --error
120a="python"
print(120a)

SyntaxError: invalid decimal literal (ipython-input-63-3441673327.py, line 2)

In [62]:
a120="python"
print(a120)

python

In [61]:
#Rule 2
_120a="python"
print(a)

10

In [60]:
#Rule 3
a b=10
print(A)

SyntaxError: invalid syntax (ipython-input-60-641619296.py, line 2)

In [59]:
#Rule 4
a=10
print(A)

NameError: name 'A' is not defined

In [56]:
#Rule 5
$=10
print($)

SyntaxError: invalid syntax (ipython-input-56-3667323434.py, line 2)

- a=12 meanse right info to the left
- a==b is it really equal or not

In [57]:
a=12
print(a)

12

In [45]:
a=12
b=12
print(a==b)

True

**CONVERSION**
- int-float
- int-string
-float-int
-float-string
-string-int
-string-float

In [58]:
#int-float
a=12
b=(float(a))
print(a)
print(b)
print(type(a))
print(type(b))

12
12.0
<class 'int'>
<class 'float'>

In [47]:
#int-string
a=12
b=(str(a))
print(a)
print(b)
print(type(a))
print(type(b))

12
12
<class 'int'>
<class 'str'>

In [48]:
#float-int
a=12.0
b=(int(a))
print(a)
print(b)
print(type(a))
print(type(b))

12.0
12
<class 'float'>
<class 'int'>

In [49]:
#float-string
a=12.0
b=(str(a))
print(a)
print(b)
print(type(a))
print(type(b))

12.0
12.0
<class 'float'>
<class 'str'>

- str-int : it is possible but str should be in num. we cant convert text to int

In [50]:
#str-int
a="120"
b=(int(a))
print(a)
print(b)
print(type(a))
print(type(b))

120
120
<class 'str'>
<class 'int'>

In [51]:
#str-int(text)
a="python"
b=(int(a))
print(a)
print(b)
print(type(a))
print(type(b))

ValueError: invalid literal for int() with base 10: 'python'

In [64]:
#str-int(text,num)
a="python765423324"
b=(int(a))
print(a)
print(b)
print(type(a))
print(type(b))

ValueError: invalid literal for int() with base 10: 'python765423324'

In [52]:
#str-float
a="120"
b=(float(a))
print(a)
print(b)
print(type(a))
print(type(b))

120
120.0
<class 'str'>
<class 'float'>

In [65]:
#str-float(text)
a="python"
b=(float(a))
print(a)
print(b)
print(type(a))
print(type(b))

ValueError: could not convert string to float: 'python'

In [54]:
#str-float(text,num)
a="python765423324"
b=(float(a))
print(a)
print(b)
print(type(a))
print(type(b))

ValueError: could not convert string to float: 'python765423324'