<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Data_Types_and_Type_Conversions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***PYTHON***
* 'Python was easy to understand'
* 'Lines of code,syntax is easy to understand.'
```
# This is formatted as code
```
**DATA TYPES**
* 'int :**bold text** having a single value'
* 'float : having a decimal value'
* 'string : test in blw rhe codes'

In [ ]:
a=12 #it will save in a memory allocation and we calling it
print(a)

12

In [ ]:
#intiger

a =13
print(a)
print(type(a))

13
<class 'int'>

In [ ]:
#float

a=12.5
print(a)
print(type(a))

12.5
<class 'float'>

bold text

In [ ]:
#string
a="Hi I am learning python"
print(a)
print(type(a))

Hi I am learning python
<class 'str'>

***VARIABLE RULES***
- 'Rule 1 : Never start a variable with a number'
- 'Rule 2 : variable always starts with number'
- 'Rule 3 : variables can start with a underscore
- 'Rule 4 : 'space is not allowed if U want Use an Underscore'
- 'Rule 5 : 'case sensitive shows diff variables in a,A'
- 'Rule 6 : 'Dont use symbols as a variables

In [ ]:
#'''strings like'''
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#'''VARIABLE RULES'''
#sytax meanse the rules we follow to write the code

#Rule 2
a120="python"
print(a120)


#Rule 3
_a1="python"
print(_a1)

#Rule 4
a_1="python"
print(a_1)

#Rule 5
a=100
print(a)

python
python
python
100

In [ ]:


#Rule 6
$=10
print($)

#Rule 1
120a="python"
print(120a)

SyntaxError: invalid decimal literal (<ipython-input-42-292d1e176f79>, line 6)

***Conversions***
- 'int-float'
- 'float-int'
- 'int-str'
- 'float-str'
* with some rule we have to do
    - 'string-float
    - 'str-int

In [ ]:
#int-float
a=12
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

12
<class 'int'>
12.0
<class 'float'>

In [ ]:
#float-int
a=12.5
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

12.5
<class 'float'>
12
<class 'int'>

In [ ]:
#str-int
a=12
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

12
<class 'int'>
12
<class 'str'>

In [ ]:
#str-int
#cant convert invalid literal
a="hi"
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

hi
<class 'str'>
hi
<class 'str'>

In [ ]:
#str-int
#cant convert invalid literal
a="HI000"
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

HI000
<class 'str'>
HI000
<class 'str'>

In [ ]:
#str-float
a=12.0
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

12.0
<class 'float'>
12.0
<class 'str'>

In [ ]:
#str-float
#yes we can change but the string must be in numbers only,text cant cange to int

a="1000"
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

1000
<class 'str'>
1000.0
<class 'float'>