<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/DS_with_Conditional%26control_statements_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Strings**
  - 'write a for loop to the existing string and chech what happens'

In [ ]:
for i in range(1,11):  # we are using to specify source and destination
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:

# when using for loop for data structures there is no need to use range we already have a source:
# we passing a for loop:Variable in loop is going to access each charecter at every new iteration:

a = 'python data'
for i in a:
  print(i,end=" ")

p y t h o n   d a t a

In [ ]:
# given a string please remove the vowels :
# Vowels = [AEIOUaeiou]
# input : python data
# output : pythn dt

a = 'python Data'
c=[]
for i in a:
  if i not in 'aeiouAEIOU':
    c.append(i)
print(c)

['p', 'y', 't', 'h', 'n', ' ', 'D', 't']

In [ ]:
a = 'python Data'
c=[]
for i in a:
  if i not in 'aeiouAEIOU':
    c.append(i)
print(" ".join(c))

p y t h n   D t

In [ ]:
a = 'python Data'
c= ''
for i in a:
  if i not in 'aeiouAEIOU':
    c = c + i
print(c)

pythn Dt

**List**

In [ ]:
a =[10,50,150,200]
for i in a:
  print(i)

10
50
150
200

In [ ]:
# in a list i will provide some values please find only the odd numbers:

a = [10,13,15,19,22,45,78,51]
for i in a:
  if i %2 != 0:
    print('odd -',i)

odd - 13
odd - 15
odd - 19
odd - 45
odd - 51

In [ ]:
# in a list i will provide some values please find only the odd numbers:

a = [[10,13,15,19,22,45,78,51]]
for i in a:
    print(i)

[10, 13, 15, 19, 22, 45, 78, 51]

In [ ]:
a = [[10,13,15,19,22,45,78,51]]
for i in a:
  for j in i:
      print(j)

10
13
15
19
22
45
78
51

In [ ]:
a = [[10,13,15,19,22,45,78,51]]
for i in a:
  for j in i:
    if j %2 != 0:

      print('odd',j)

odd 13
odd 15
odd 19
odd 45
odd 51

In [ ]:
def fun(a):
    for i in a:
        for j in i:
            if j %2 != 0:
                print('odd',j)

a = [[10,13,15,19,22,45,78,51]]    # while calling a function; i am sending a variable a also to the function
fun(a)

odd 13
odd 15
odd 19
odd 45
odd 51

In [ ]:
a = [[10,13,15,19,22,45,78,51]]

def fun(a):
    for i in a:
        for j in i:
            if j %2 != 0:
                print('odd',j)
fun(a)   #  while calling the functions; i am sending variable a also to the function

odd 13
odd 15
odd 19
odd 45
odd 51

**Tuple**

In [8]:
#Tuple

a = (10,13,15,19,22,45,78,51)
for i in a:
  if i %2==0:
    print("even-",i)

even- 10
even- 22
even- 78

In [11]:
a = (10,13,15,19,22,45,78,51)
def even(b):
 for i in b:
  if i %2==0:
    print("even-",i)

even(a)

even- 10
even- 22
even- 78

**Sets**

In [17]:
#sets
a = {10,13,15,19,22,45,78,51}
for i in a:
  if i %2==0:
    print("even-",i)

even- 10
even- 78
even- 22

In [16]:
a={10,13,15,19,22,45,78,51}
for i in a:
  print(i)

10
45
13
78
15
19
51
22

**Dictionary**

In [18]:
a = {'python':100,'java':200,'ai':300}
for i in a:
  print(i)

python
java
ai

In [20]:
a = {'python':100,'java':200,'ai':300}
print(a.keys())

dict_keys(['python', 'java', 'ai'])

In [21]:
print(a.values())

dict_values([100, 200, 300])

In [22]:
print(a.items())

dict_items([('python', 100), ('java', 200), ('ai', 300)])

In [25]:
a = {'python':100,'java':200,'ai':300}
for i in a:
  print(i, '----',a[i])

python ---- 100
java ---- 200
ai ---- 300

In [34]:
a = {'python':100,'java':200,'ai':300}
print(a.items())
print()

for i,j in a.items():
    print(i,"-", j)

dict_items([('python', 100), ('java', 200), ('ai', 300)])

python - 100
java - 200
ai - 300

In [44]:
# Find the count of each charecter in 1 name
#input-Dhana sri
#o/p- {D:1,h:1,a:2,n:1, :1,s:1,r:1,i:1}
# i want o/p in dict format so lets take some empty set

d = {}
a = 'Dhana sri'
for i in a:
  if i not in d:
    d[i] = 1
  else:
    d[i]=d[i]+1
print(d)

{'D': 1, 'h': 1, 'a': 2, 'n': 1, ' ': 1, 's': 1, 'r': 1, 'i': 1}

In [47]:
c = {}
c['p']=10
c['t']=100
c

{'p': 10, 't': 100}

In [49]:
c['t']=500
c

{'p': 10, 't': 500}

In [60]:
a = 'team'
d = {}
def count_char(a):
  for i in a:
    if i not in d:
      d[i] = 1
    else:
      d[i]=d[i]+1

count_char(a)
print(d)

{'t': 1, 'e': 1, 'a': 1, 'm': 1}