<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions**
-  functions meanse writing the code one time and we can excecute the same code many times
-  the functions representation will be with key word called 'def'
- any use? - we can save memory space andtime complexity

In [ ]:
a = 10
b = 20
print(a + b)

30

In [ ]:
a = 50
b = 60
print(a + b)

110

- syntax : def function_name (accept parameters if required or else empty:):
    -  logic what we want:

In [ ]:
# def
def python():
  print('good')

In [ ]:
python()  # function calling

good

In [ ]:
# def
def python():
  print('good')
python()   #  function calling

good

In [ ]:
def addition():
  print(a+b)

a = 50
b = 60
addition()

110

In [ ]:
def addition(a,b):
  print(a+b)

a = 50
b = 60
addition(a,b)

110

In [ ]:
def fun(x,y):
  print(x+y)
a = 10
b = 30
print(a,b)

10 30

In [ ]:
fun(2,4)

6

In [ ]:
fun(2000,4000)

6000

In [ ]:
# lets solve some maths stuff

# without functions

number = 150
if number % 2 == 0:
  print('even')
else:
  print('odd')

even

In [ ]:
#  i want to check like value 85 is even/odd

number = 85
if number % 2 == 0:
  print('even')
else:
  print('odd')

odd

In [ ]:
# with function

def even_odd():
  if number % 2 == 0:
    print('even')
  else:
    print('odd')
even_odd()

odd

In [ ]:
even_odd()

TypeError: even_odd() takes 0 positional arguments but 1 was given

In [20]:
# with function

def even_odd(number):
  if number % 2 == 0:
    print('even')
  else:
    print('odd')
even_odd(14)

even

In [ ]:
even_odd(15)

odd

In [ ]:
even_odd(500)

even

In [1]:
# printing odd and even from 11-25 'without functions'
for i in range(11,25):
  if i % 2 == 0:
    print("even",i)
  else:
    print("odd",i)

odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24

In [2]:
for i in range(41,51):
  if i % 2 == 0:
    print("even",i)
  else:
    print("odd",i)

odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50

In [21]:
def fun1(a,b):
 for i in range(a,b):
   if i % 2 == 0:
     print("even",i)
   else:
     print("odd",i)

In [12]:
fun(11,26)

odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25

In [23]:
fun(1,6)

odd 1
even 2
odd 3
even 4
odd 5

In [25]:
fun1(23,34)

odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33

In [26]:
even_odd(15)

odd

In [27]:
even_odd(16)

even

- return statements in functions

- when we are using functions its better to use return keywords instead of print conditions

In [31]:
def value(a):
  print(a)

In [32]:
value(10)

10

In [33]:
def value(a):
  return(a)

In [34]:
value(20)

20

In [38]:
# multiplication

def Multiply(a, b):
  print(a *b)

In [40]:
number1 = 10
number2 = 20

Multiply(number1, number2)

200

In [42]:
def multiply(a , b):
  result1 = a * b
  result2 = a + b
  return result1,result2

number1 = 10
number2 = 20

multiply(number1, number2)

(200, 30)

In [3]:
def multiply(a , b):
  result1 = a * b
  result2 = a + b
  return result1,result2

number1 = 10
number2 = 20

product, sum=multiply(number1, number2)
print(sum)
print(product)

30
200

In [5]:
def data(name,age):
  print('my name is' ,name,'and my age is',age)

data('Dhanu',20)

my name is Dhanu and my age is 20

In [6]:
def data(name,age=20):
  print('my name is' ,name,'and my age is',age)

data('Dhanu')

my name is Dhanu and my age is 20

In [7]:
def data(name,age):
  print('my name is' ,name,'and my age is',age)
data(20,'Dhanu')

my name is 20 and my age is Dhanu

In [15]:
def final(name,age,country):
  print('my name is',name,'and my age is',age,'country',country)

final(name = 'Dhanu',country = 'India',age = 20)

my name is Dhanu and my age is 20 country India

In [16]:
def final(name,age,country):
  print('my name is',name,'and my age is',age,'country',country)

final(name = 'Dhanu',country = 'India',age = 20)

my name is Dhanu and my age is 20 country India