<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Lambda_functions_ipynba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lambda functions**
- Lambda functions is also known as ananomous functions which meanse there will be no function name but only using logic "lambda"keyword.

-  Advantages - fast excecution only single line of code is used
-  Disadvantages - Very hard to write a logic insted we can use normal functions.

        - syntax -
        -           lambda arguments and expressions

In [ ]:
# using functions

a = 10
b = 30
def add(a,b):
  print(a + b)
add(a,b)

40

In [ ]:
# Lambda functions
#lambda pass variables : operation with the variable

a = 10
b = 30
c = lambda x,y : x+y
print(c(a,b))

40

In [ ]:
# find the square of 3 using functions using functions:
# input = 3  output = 9

a = 3
def square(a):
  print(a * a)

square(a)

print("---------------")

a = 3
def mul(a):
  return a*a
mul(a)

9
---------------

9

In [ ]:
# same using lambda function

a = 3
b= lambda x : x*x
print(b(a))

9

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# all pre defined words in python programming languages

import keyword

for i in keyword.kwlist:
      print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
#   Print 2 Table
# input = 2
# output = 2 * 1 = 2
         # 2 * 10 = 20

a = 2
for i in range(1,11):
    print("2 *",i,"=",a*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# Using functions
a = 2
def table():
  for i in range(1,11):
    print("2 *",i,"=",a *i)
table()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# Using lambda

a = 2
c = lambda x: i * 2
for i in range(1,11):
  print("2 *",i, "=",c(i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# using lambda

a = 2
c = lambda x: a * i
for i in range(1,11):
  print("2 *",i, "=",c(i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
 # incorrect

 a = 2
 c = lambda x: g * h
for i in range(1,11):
  print("2 *",i, "=",c(i))

NameError: name 'g' is not defined

In [ ]:
# Finding even numbers using lambda

# using normal method -

a = [10,11,15,19,22,27,29]
for i in a:
  if i % 2 == 0:
    print(i)

10
12
14
22

In [ ]:
# Using lambda
a = [10,11,15,19,22,27,29]
c = lambda x : x % 2 == 0
for i in a:
  print(c(i))

True
False
False
False
True
False
False

In [ ]:
a = [10,11,15,19,22,27,29]
c = lambda x: x % 2 == 0
even = []
for i in a:
  if c(i):
    even.append(i)
print(even)

[10, 22]

In [ ]:
# Finding the product of 2 numbers

a = 10
b = 30
c = lambda x , y : a * b
print(c(a,b))

300

In [ ]:
# print both even & odd

a =  [10,11,15,19,22,27,29]
even_con = lambda x : x %  2 == 0
odd_con = lambda x : x % 2 != 0
even =[]
odd= []
for i in a:
  if even_con(i):
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[10, 22]
[11, 15, 19, 27, 29]

In [ ]:
# print both even & odd

a =  [10,11,15,19,22,27,29]
even_con = lambda x : x %  2 == 0
odd_con = lambda x : x % 2 != 0
even =[]
odd= []
for i in a:
  if even_con(i):
    even.append(i)
  else:
    odd.append(i)
print(even,odd)

[10, 22] [11, 15, 19, 27, 29]

In [ ]:
# finding how many words are there

a = "I am in Mumbai Inadia"
c = a.split()
c

['I', 'am', 'in', 'Mumbai', 'Inadia']

In [ ]:
# finding how many words are there

a = "I am in Mumbai Inadia"
c = a.split()
len(c)

5

In [11]:
# finding how many char are there

# using labda

a = "I am in Mumbai Inadia"
c = lambda x: len(x)
print(c(a))

21