<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST**
- List is the most powerfull data structures we are having
- using list we can play with intigers,float and strings

-List is an Mutable data type[change memory allocation
-syntax : the way of representing a list is with[]

In [ ]:
a = 'python 120'
type(a)

str

-No index space for comma and space

In [ ]:
a=[10,100,1000]  #10=0,100=1,1000=2
print(type(a))

<class 'list'>

- we can give any data type

In [ ]:
a = [10,12.5,'python']
print(a)

[10, 12.5, 'python']

In [ ]:
a = [10,12.5,1000,144.9,'python','data_science']
print(a)

[10, 12.5, 1000, 144.9, 'python', 'data_science']

In [ ]:
#Accessing items in the list with there index possition:
a = [10,12.5,1000,144.9,'python','data_science']
print(a[2])
print(a[-3])

1000
144.9

In [ ]:
a = [10,12.5,1000,144.9,'python','data_science'] #Accessing the char in string which is in a list
print(a[4][1])

y

In [ ]:
print(a[5][3])  #Accessing the char in string which is in a list

a

In [ ]:
a = [10,'12.5',1000,144.9,'python','data_science'] #if U want to print float values want to be in str
print(a[1][2])

.

**Slicing operation using List**

In [ ]:
a = [10,'12.5',1000,144.9,'python','data_science']
print(a[1:5])

['12.5', 1000, 144.9, 'python']

In [ ]:
a = [10,'12.5',1000,144.9,'python','data_science']
print(a[1:5])

['12.5', 1000, 144.9, 'python']

In [ ]:
a = [10,'12.5',1000,144.9,'python','data_science']
print(a[::2])  # from starting till end step size 2

[10, 1000, 'python']

In [ ]:
a = [10,'12.5',1000,144.9,'python','data_science']
print(a[::-1])  # from starting till end -1

['data_science', 'python', 144.9, 1000, '12.5', 10]

- is this mutable-
    - adding memory space
    - replace in the same memory space
    - delete memory space

In [ ]:
#adding memory space

a = a = [10,'12.5',1000,144.9,'python','data_science']

a.append(500)  #this method is to create at the end if we want to create where ever u want use insert method
print(a)

[10, '12.5', 1000, 144.9, 'python', 'data_science', 500]

In [ ]:
#adding memory space

#a = a = [10,'12.5',1000,144.9,'python','data_science']

a.append(500)  #this method is to create at the end if we want to create where ever u want use insert method
print(a)

[10, '12.5', 1000, 144.9, 'python', 'data_science', 500, 500, 500, 500]

In [ ]:
# Replacing memory space
a = [10,'12.5',1000,144.9,'python','data_science']
a[2]
print(a)
a[2] =2000
print(a)

[10, '12.5', 1000, 144.9, 'python', 'data_science']
[10, '12.5', 2000, 144.9, 'python', 'data_science']

In [ ]:
#Deleting the memory space
a = [10,'12.5',1000,144.9,'python','data_science']
del a[1]
print(a)

[10, 1000, 144.9, 'python', 'data_science']

**PRE DEFINED METHODS**

In [ ]:
# append

a=[10,'12.5',1000,144.9,'python','data_science']
a.append(20000)  #append will add the given value at the end   (only single value)
print(a)

[10, '12.5', 1000, 144.9, 'python', 'data_science', 20000]

In [ ]:
# insert : use to add memory space where ever we want

a=[10,'12.5',1000,144.9,'python','data_science']
a[2]=20000  #append will add the given value at the end
print(a)

[10, '12.5', 20000, 144.9, 'python', 'data_science']

In [ ]:
#insert : use to add memory space where ever we want

a=[10,'12.5',1000,144.9,'python','data_science']
a.insert(2,20000)  #append will add the given value at the end
print(a)

[10, '12.5', 20000, 1000, 144.9, 'python', 'data_science']

In [ ]:
a=[10,'12.5',1000,144.9,'python','data_science']

a.insert(3,'java')
print(a)

[10, '12.5', 1000, 'java', 144.9, 'python', 'data_science']

In [ ]:
a=[10,'12.5',1000,144.9,'python','data_science']

a.insert(0,'C++')
print(a)

['C++', 10, '12.5', 1000, 144.9, 'python', 'data_science']

In [ ]:
# clear : meanse removing the list it will be empty

a=[10,'12.5',1000,144.9,'python','data_science']

a.clear()

In [ ]:
# clear : meanse removing the list it will be empty

a=[10, 12.5, 'python']

print(a)

a.clear()
print(a)

[10, 12.5, 'python']
[]

In [ ]:
#copy : copying the data from 1 variable to another variable
# clear : meanse removing the list it will be empty

a=[10, 12.5, 'python']

print(a)
b=a.copy()
print()
print(b)

[10, 12.5, 'python']

[10, 12.5, 'python']

In [ ]:
#Count : counting the number of occurances
a = [10, 12.5, 'python']
print(a.count(1))

0

In [ ]:
#Count : counting the number of occurances
a = [10, 12.5, 'python']
print(a.count(10))

1

In [ ]:
# index : finding the index position

a= [10,12.5,'python']

print(a.index(12.5))

1

In [ ]:
# extend : extend method is used to add a list to existing list
#Append can add a single value and extend can add multiple values
a = [10,12.5,'python']
a.extend([1000,2000,3000])
print(a)

[10, 12.5, 'python', 1000, 2000, 3000]

In [ ]:
a = [10,12.5,'python']
a.insert(2 , [1000,2000,3000])
print(a)

[10, 12.5, [1000, 2000, 3000], 'python']

In [ ]:
a = [10,12.5,'python']
a.insert(2 , 1000,2000,3000)
print(a)

TypeError: insert expected 2 arguments, got 4

In [ ]:
a = [10,12.5,'python']
a.extend([1000,2000,3000])
print(a)

[10, 12.5, 'python', 1000, 2000, 3000]

- Need to add multiple values where ever u want

In [1]:
# pop:pop method is used to remove the data
a = [10,12.5,"  Python"]
a.pop()
print(a)

[10, 12.5]

- # pop:pop method is used to remove the data
- Default it will remove the last value
- if you want to remove the specified value you can use the index position

In [5]:
# pop:pop method is used to remove the data
a = [10,12.5,"Python"]
a.pop(1)
print(a)

[10, 'Python']

- #Remove : we can directly give the data points insted of index
- #pop : it will remove the last value and using index it will remove specific value

In [6]:
a=[10,12.5,'python']
a.remove(12.5)
print(a)

[10, 'python']

In [8]:
 #Reverse : it is used to reverse the text
a = [10,12.5,"Python"]
a.reverse()
print(a)

['Python', 12.5, 10]

In [15]:
 #Reverse : it is used to reverse the text
a = [10,12.5,"Python"]
a[::-1]
print(a)

[10, 12.5, 'Python']

- Sort:assending order(s-b) and decending order(b-s) concept
- by default we can use decending order(b-s)

In [16]:
#Assending order
a = [1,12,7,16,44,8]
a.sort()
print(a)

[1, 7, 8, 12, 16, 44]

In [18]:
#Desending order
a = [1,12,7,16,44,8]
a.sort(reverse=True)
print(a)

[44, 16, 12, 8, 7, 1]

In [27]:
a = [1,12,7,16,44,8]
b = [100,100,400,600]
a.extend(b[::2])

print(a)

[1, 12, 7, 16, 44, 8, 100, 400]

In [29]:
# math operations
a = [1,2,3,4,5,6]
print(len(a))
print(min(a))
print(max(a))
print(sum(a))

6
1
6
21