<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Map_Filter_and_Reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Map,Filter,Reduce **
- map,filter,reduce concepts are used to excecute a functionif a function accepts a loop using map,filter we can take controll over loops.
- map, filter advantages
     - less no of lines of code
     - fast excecution
- syntax- remove memory space : (fun,iterables)

In [ ]:
#using functions from value 21 to 31 find even,odd values

def fun(a):
  if a%2==0:
    print("even:",a)
  else:
    print("odd:",a)
for i in range(21,31):
  res = fun(i)
  print(res)

odd: 21
None
even: 22
None
odd: 23
None
even: 24
None
odd: 25
None
even: 26
None
odd: 27
None
even: 28
None
odd: 29
None
even: 30
None

In [ ]:
def fun(a):
  if a%2==0:
    return "even:",a
  else:
    return "odd:",a
for i in range(21,31):
  res = fun(i)
  print(res)

('odd:', 21)
('even:', 22)
('odd:', 23)
('even:', 24)
('odd:', 25)
('even:', 26)
('odd:', 27)
('even:', 28)
('odd:', 29)
('even:', 30)

In [ ]:
def even_odd(num):
    if num%2==0:
        return " {} is even".format(num)
    else:
        return " {} is odd".format(num)
for i in map(even_odd,range(21,31)):
    print(i)

 21 is odd
 22 is even
 23 is odd
 24 is even
 25 is odd
 26 is even
 27 is odd
 28 is even
 29 is odd
 30 is even

In [ ]:
def even_odd(num):
    if num%2==0:
        print("even:",a)
    else:
       print("odd:",a)
b = [21,22,23,24,25,26,27,28,29,30]
sol = map(even_odd,b)
print(sol)

<map object at 0x7f06ea6cee60>

In [ ]:
def fun(a):
    if a%2==0:
        print("even:",a)
    else:
       print("odd:",a)
b = [21,22,23,24,25,26,27,28,29,30]
sol=list(map(fun,b))
print(sol)

odd: 21
even: 22
odd: 23
even: 24
odd: 25
even: 26
odd: 27
even: 28
odd: 29
even: 30
[None, None, None, None, None, None, None, None, None, None]

In [ ]:
def fun(a):
    if a%2==0:
        print("even:",a)
    else:
       print("odd:",a)
b = [21,22,23,24,25,26,27,28,29,30]
sol=list(map(fun,b))

odd: 21
even: 22
odd: 23
even: 24
odd: 25
even: 26
odd: 27
even: 28
odd: 29
even: 30

In [ ]:
# we normally use return for any unwanted none or some thing

def fun(a):
  if a%2==0:
    return "even:",a
  else:
    return "odd:",a
b = [21,22,23,24,25,26,27,28,29,30]
sol = list(map(fun,b))
print(sol)

[('odd:', 21), ('even:', 22), ('odd:', 23), ('even:', 24), ('odd:', 25), ('even:', 26), ('odd:', 27), ('even:', 28), ('odd:', 29), ('even:', 30)]

In [ ]:

def fun(a):
  if a%2==0:
    return "even:",a
  else:
    return "odd:",a
b = [21,22,23,24,25,26,27,28,29,30]
sol = list(map(fun,b))