<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Print_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print condition**

In [ ]:
#Single code

print('Python is power full')

Python is power full

In [ ]:
#Double code

print("Python is power full")

Python is power full

In [ ]:
#Triple code (double code)  -Huge text

print("""i am some one who is very joyfull
and smootest person
so many of them are in danger..""")

i am some one who is very joyfull
and smootest person
so many of them are in danger..

In [ ]:
#Triple code -Huge text

print("""i am some one who is very joyfull.""")

i am some one who is very joyfull.

In [ ]:
#Triple code (double code)  -Huge text

print("""
i am some one who is very joyfull
and smootest person

so many of them are in danger.
""")

i am some one who is very joyfull
and smootest person

so many of them are in danger.

**Print condition**
- adding print condition
-- *(,) comma
-- *(+) plus
-- *(%) percentile

**( , )operator
- it is used to add space by comma operator

- and it can add the next word
- in this we used  
      - *int
      - *float
      - *str

In [ ]:
Age = 20
print("Myname is Dhanu my age is",Age)

Myname is Dhanu my age is 20

In [ ]:
Age=20
course= "python"
amount=0
print("My age is",Age,"i am learning",course,"amount is",amount)

My age is 20 i am learning python amount is 0

**( + )operator       
**rule1**
- every variable is in str format
- it is just used to add
- it is not going to provide space
        - *str

In [2]:
a='python'
print("I am learning"+a)

I am learningpython

In [3]:
a='python'
print("I am learning "+a)  #we can give the space after learning

I am learning python

In [5]:
a='python'
print("I am learning"+" "+a)  # we can take using personalised space

I am learning python

In [8]:
age=20  # it can not add an intiger with a string
print("My age is"+age)

TypeError: can only concatenate str (not "int") to str

In [10]:
age=20  # we can give it as str(age)
print("My age is "+str(age))

My age is 20

In [14]:
age=" 20  "
print("My age is "+age)

My age is  20

In [19]:
amount = 20.0
print("My age is "+str(amount))

My age is 20.0

In [31]:
Age=20
course= "python"
amount=0
print("My age is "+str(Age)+ " I am learning "+(course)+ " amount is "+ str(amount))

My age is 20 I am learning python amount is 0

** PERCENTILE (%) **

*   int====%d
*   float===%f
*   string===%s
         -int
         -str
         -float

In [32]:
#int===%d
age=20
print("My age is %d"%(age))

My ag is 20

In [36]:
#int===%d
age=20
print("%d is my age"%(age))

20 is my age

In [37]:
#int===%d
age=20
print("My ag is %"%(age))

ValueError: incomplete format

In [33]:
#str===%s
course="Python"
print("My ag is %s"%(course))

My ag is Python

In [35]:
#float===%f
amount=0
print("My ag is %f"%(amount))

My ag is 0.000000

 Expected output - My age is 20 I am learning python amount is 0

In [40]:
Age=20
course= "python"
amount=0
print("My age is %d I am learning %s amount is %f" %(Age,course,amount))

My age is 20 I am learning python amount is 0.000000

In [42]:
Age=20    #we want to as follows
course= "python"
amount=0
print("My age is %d I am learning %s amount is %f" %(course,age,amount))

TypeError: %d format: a real number is required, not str

In [44]:
Age=20
course= "python"
amount=0
print("My age is %d I am learning %s amount is %f" %(amount,course,age))     #we can change it

My age is 0 I am learning python amount is 20.000000

**Two more print condition in current python**


*   .format {}
*   using f {}

In [45]:
age=20
print("My age is {a}")

M y age is {a}

In [49]:
age=20
print("My age is {}".format(age))

My age is 20

In [56]:
Age=20
course= "python"
amount=0
print("My age is {} I am learning {} amount is {}" .format(Age,course,amount))

My age is 20 I am learning python amount is 0

In [57]:
Age=20
course= "python"
amount=0
print("My age is {} I am learning {} amount is {}" .format(amount,course,Age))

My age is 0 I am learning python amount is 20

In [59]:
age=20
print(f"My age is {age}")

My age is 20

In [60]:
Age=20
course= "python"
amount=0
print(f"My age is {Age} I am learning {course} amount is {amount}")

My age is 20 I am learning python amount is 0