<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Print_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRINT CONDITION**\
- Adding a print condition to 3 different variables

In [ ]:
#Single quote
print('Python is powerfull')

Python is powerfull

In [ ]:
#Double quote
print("Python is powerfull")

Python is powerfull

In [ ]:
#Triple code((Single code)):Multiple lines
print('''Iam learning Python.
Python is eassy to understand,
I luved it''')

Iam learning Python.
Python is eassy to understand,
I luved it

In [ ]:
#Triple code((Double code)):Multiple lines
print("""Iam learning Python.
Python is eassy to understand,
I luved it""")

Iam learning Python.
Python is eassy to understand,
I luved it

- Adding print conditions to 3diff data types
      - 'we use "," "+" "%"'

In [ ]:
Age = 20
print("My age is,Age")#onetab space for ,

My age is,Age

In [ ]:
# Using "+"
name='Dhana sri'
age =20
course="python"

print("My Name is ",name,'and i am learning',course,'my age is',age)

My Name is  Dhana sri and i am learning python my age is 20

**USING + OPERATOR**
- Rule 1 : Every Variable should be in string format
- Rule 2 :

In [ ]:
# + operator
# + operator doest provide u the space
a= "python"
print("I am Learning "+a)
print("I am learning "+" "+a) #out put will be I ma learning+ python

I am Learning python
I am learning  python

In [ ]:
age = 30
print("My age is "+str(age))

age = '30.90'
print("My age is "+age)

My age is 30
My age is 30.90

In [ ]:
name='Dhana sri'
age ='20'
course="python"

print("My Name is "+name,'and i am learning '+course,'my age is '+age)

My Name is Dhana sri and i am learning python my age is 20

In [ ]:
name='Dhana sri'
age =20
course="python"

print("My Name is "+name,'and i am learning '+course,'my age is '+str(age))

My Name is Dhana sri and i am learning python my age is 20

**USING %**
- 'int : %d
- 'float : %f
- 'str : %s
---

In [ ]:
Age = 20

print('My age is %d'%Age)

My age is 20

In [ ]:
Age =30

print('%d is my age'%Age)

30 is my age

In [ ]:
amount = 50.2

print('The amount is %f'%(amount))

The amount is 50.200000

In [ ]:
course = 'python'

print("I am learning %s"%(course))

I am learning python

In [ ]:
name='Dhana sri'
age =20
course='python'

print("My Name is %s and i am learning %d my age is %s%(name,course,age)")

My Name is %s and i am learning %d my age is %s%(name,course,age)

In [ ]:
name='Dhana sri'
age =20
course='python'

print("My Name is %s and i am learning %d my age is %s%(course,name,age)")#error we follow the rule by not changing

My Name is %s and i am learning %d my age is %s%(course,name,age)

- 'TWO MORE PRINT CONDITIONS ARE ADDED IN VERSION **3**:

  - "USING {}"

In [36]:
a = 20

print("My Age is {}".format(a))

My Age is 20

In [39]:
name='Dhana sri'
age =20
course='python'

print("My Name is {} and i am learning {} my age is {}".format(course,name,age))

My Name is python and i am learning Dhana sri my age is 20

     - **"USING KEYWORD f"**

In [42]:
Age = 20

print(f"My Age Is {Age}")

My Age Is 20

In [43]:
name='Dhana sri'
age =20
course='python'

print(f"My Name is {name} and i am learning {age} my age is {course}")

My Name is Dhana sri and i am learning 20 my age is python