<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sets**
- sets are immutable data types
- representation of sets is w.r.to : {} but not empty set

In [ ]:
a = 'python'
type(a)

str

In [ ]:
a = [1,2,3]
type(a)

list

In [ ]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [ ]:
a={1,2,4,3}
print(type(a))

<class 'set'>

In [ ]:
a = {10,20,50,80,100,12.5,"python"}
print(a)
print(type(a))

{80, 50, 100, 20, 'python', 10, 12.5}
<class 'set'>

**Rules in set**
- Rule 1:  
           - values are not going to store in memory allocation as in order
           - sets are unordered pair concept

In [ ]:
a = {10,20,30,50,80,100,24.6,"python"}
print(a)

{100, 10, 80, 50, 20, 'python', 24.6, 30}

- the values will not accessed with index position because the values are different and saving in memory space is different

In [ ]:
a = {10,20,30,50,80,100,24.6,"python"}
print(a[1])

TypeError: 'set' object is not subscriptable

In [ ]:
a = {10,20,30,50,80,100,24.6,"python"}
print(a[1])

TypeError: 'set' object is not subscriptable

- **Rule 2**:
       - duplicate values are not allowed

In [ ]:
a = {10,20,10,30,40,10}
print(a)

{40, 10, 20, 30}

- Duplicates removed and outcomes un ordered

{40, 10, 20, 30}

**Rule 3**
- you can give int,str,float and immutable data types to the set

In [ ]:
a = {10,12.5,'python',(100,200,300)}
print(a)

{'python', 10, 12.5, (100, 200, 300)}

**Rule 4**
- you cannot assain mutable data type to a set

In [ ]:
a = {10,12.5,'python',[200,100,300]}
print(a)     #List is mutable

TypeError: unhashable type: 'list'

- sets are mutable we have to verify
    - Add a value to existing a memory space
    - delete a value from a memory space
    - replacing a value from the memory space

In [ ]:
b  = {10,12.5,50.4,'python','science'}
print(b)

{50.4, 'science', 'python', 10, 12.5}

In [ ]:
b  = {10,12.5,50.4,'python','science'}
print(b)
b.add(500.8)  #we cannot say where the data added but the memory space will be increased
print(b)

{50.4, 'science', 'python', 10, 12.5}
{50.4, 500.8, 'science', 'python', 10, 12.5}

In [ ]:
b  = {10,12.5,50.4,'python','science'}
del b[0]   #it doesent support item deletion in index we can use any other approach
print(b)

TypeError: 'set' object doesn't support item deletion

- Discard - find the value and delete the value

In [ ]:
b  = {10,12.5,50.4,'python','science'}
b.discard(10)
print(b)

{50.4, 'science', 'python', 12.5}

In [ ]:
# replace

b  = {10,12.5,50.4,'python','science'}
b [1] = 1221
print(b)

TypeError: 'set' object does not support item assignment

-  with index replace is not possible and there is no pre trained methods.
-  because it is not following an order so it cannot replace a value in the memory space
- but if you want to change then change set to list and replace it

**Important pre trained methods**

In [ ]:
b  = {10,12.5,50.4,'python','science'}
print(b)
b.add(55.8)
print(b)

{50.4, 'science', 'python', 10, 12.5}
{50.4, 55.8, 'science', 'python', 10, 12.5}

In [ ]:
b ={10,12.5,50.4,'data','science'}
b.update(10,300)
print(b)

TypeError: 'int' object is not iterable

- ADD - adding a value to the memory space but we cannot guess where the value is going to assain
- UPDATE - insted of adding a single value we can add multiple value
- clear - It is going to remove each value in aset and memory space will be empty

In [ ]:
b  = {10,12.5,50.4,'python','science'}
b.clear()
print(b)      # it meanse an empty set

set()

In [ ]:
# copy - assaining a value of 1variable to another

b  = {10,12.5,50.4,'python','science'}
c = b.copy()
print(b)
print(c)

{50.4, 'science', 'python', 10, 12.5}
{50.4, 'science', 'python', 10, 12.5}

In [ ]:
# remove - remove method will remove a value if it exists or else it throughs an error

b  = {10,12.5,50.4,'python','science'}
b.remove(10)
print(b)

{50.4, 'science', 'python', 12.5}

In [ ]:
# discard - if a value present in variable it is going to delete or else it will
#print the same variable as an outcome and it is going to throughs an error
b  = {10,12.5,50.4,'python','science'}
b.discard(10)
print(b)

{50.4, 'science', 'python', 12.5}

In [ ]:
b  = {10,12.5,50.4,'python','science'}
b.discard(15)
print(b)

{50.4, 'science', 'python', 10, 12.5}

In [ ]:
b  = {10,12.5,50.4,'python','science'}
b.remove(10)
print(b)

{50.4, 'science', 'python', 12.5}

In [ ]:
b  = {10,12.5,50.4,'python','science'}
b.remove(100)
print(b)

KeyError: 100

In [ ]:
b  = {10,50.4,'dragon','python','science'}
b.pop()
print(b)

{'dragon', 'science', 'python', 10}

- pop - in list pop method defaultly going to remove the last value and if pop(2) meanse 2 is an index the value in 2nd index is going to remove

- pop - in set pop method will remove the random value which is in memory space and like list you cannot remove a value with index

In [ ]:
b  = {10,12.5,50.4,'python','science','data'}
print(b)
b.pop()
print(b)

{50.4, 'science', 'python', 10, 12.5, 'data'}
{'science', 'python', 10, 12.5, 'data'}

In [ ]:
# Union

a ={1,2,3,4,5,6,7}
b ={9,10,11,12,13,14}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14}

In [ ]:
a ={1,2,3,4,5,6,7}
b = {10,11,12,6}   # common values removed & we use union symbol as |
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12}

In [ ]:
a ={1,2,3,4,5,6,7,9}
b ={9,10,11,12,13,14}   # 2 sets having same values
print(a.intersection(b))

{9}

In [1]:
# intersection

a= {1,2,3,4,5,6}
b = {10,11,12,6}
a.intersection(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [2]:
a = {1,2,3,4,5,6}
b = {10,11,12,6}
print(a & b)

{6}

In [3]:
# empty set

a = set()
a.update([10,20,30])
print(a)

{10, 20, 30}