<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Data Structures**

*   Strings
*   list
*   Tuple
*   Sets
*   Dictionary

**MUTABLE**

*   Mutable meanse we can chage the memory Allocation.
       - **MUTABLE DATA STRUCTURES**
 *   List
 *   Sets
 *   Dictionary

**IMMUTABLE**
*   Immutable meanse we can't chage the memory ALLOCATION.
      - **IMMUTABLE DATA STRUCTURES**
 *    Strings
 *    Tuple

**String**

1.   Immutable
2.   Can't increase memory space
3.   Can't change memory space

In [ ]:
a='python'
print(a[1])

y

In [ ]:
# Updating Char:

a[1] = A

NameError: name 'A' is not defined

In [ ]:
a="python"

# Deleting Char:

del a[3]

TypeError: 'str' object doesn't support item deletion

In [ ]:
a="python"

# we cant add char:

a[3]='a'

TypeError: 'str' object does not support item assignment

Task

In [ ]:
value = 'python,java'
del value
print(value)

NameError: name 'value' is not defined

**concatination**

In [ ]:
a = 'python '
b = 'java'
c = a+b
print(c)

python java

In [ ]:
 'python ' *5

'python python python python python '

 **Membership Function**

In [ ]:
a = 'python,java'

print('python' in a)
print('of' in a)
print('java' not in a)

True
False
False

'Math operation using strings'

**Ascii values**
--Ascii values is the value given for each and every char
-  A-65 B=66 .........Z=91
-  a=97 b=98 .........z=123

In [ ]:
value1 = 'ab'
value2 = 'AB'



print(value1>value2)
print(value1<value2)

True
False

Operations on strings

In [ ]:
a = 'python '
b = 'java'
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False

**PRE DEFINED FUNCTIONS**
-

In [ ]:
# Captilalize : this method is used to capital the starting letter of a str

a='java'
print(a.capitalize())

Java

In [ ]:
b='data science'
print(b.capitalize())

Data science

In [ ]:
# lower : it going to lower the each and every char in the given string
# if the char in string is capital letters meanse lower fun is going to make it small
            #if it already small meanse it is going tpo take as it is

a = "ABCD"
print(a.lower())

abcd

In [ ]:
a = "ABcd"
print(a.lower())

abcd

In [ ]:
# Upper : this method is used to capital the each and every char in str

a = 'java'
print(a.upper())

JAVA

In [ ]:
a = 'JAva'
print(a.upper())

JAVA

In [ ]:
#Index method is used to find the index of the char
a = 'python is best'
print(a.index('b'))

10

In [ ]:
a = 'python is best and java is best'
print(a.index('best'))        #For word it is going to check the starting char and if the word matches it will gives us index value of a first char in a word

10

In [ ]:
a = 'python is best'
print(a.index('best'))

10

In [ ]:
a = 'python is best and java is best'
print(a.index('best'))

10

In [ ]:
a = 'python is best and java is best'
print(a.index('best' ,13))

27

In [ ]:
a = 'python is best and java is best'
print(a.index('best' ,7,30))

10

**Replace**
- Since strings are mutable we can not add or delete a char from the string it meanse we can not add a memory space but in the memory space itself we can replace a char but with index values

In [ ]:
a = 'python'
print(a[3])

h

In [ ]:
# it is not possible

a[3]:'A'

In [ ]:
# But in python we are having pre trained methods by python software developers
#Using replace method we can replace a char in the same memory space
a="python "
a.replace('h','A')   #where ever we have h replace with A

'pytAon '

In [ ]:
# Another example

a='I am a data analyst'
b=a.replace('a','d')
print(a)
print(b)

I am a data analyst
I dm d ddtd dndlyst

In [ ]:
# Another example

a='I am a data Scientist'
b=a.replace('a','d')
print(a)
print(b)

I am a data Scientist
I dm d ddtd Scientist

In [ ]:
# Another example

a='I am a data Scientist'
b=a.replace('a','d', 3) # 3 parameters meanse:checking 3 occurances of a and get replaced
print(a)
print(b)

I am a data Scientist
I dm d ddta Scientist

In [ ]:
# Another example

a='I am a data Scientist'
b=a.replace('a','d', 5) # 5 parameters meanse:checking 5 occurances of a and get replaced
print(a)
print(b)

I am a data Scientist
I dm d ddtd Scientist

In [ ]:
a = 'I am a  Data Scientist and i am Artificial engineer'
b=a.replace('am','do', 1)
print(a)
print(b)

I am a  Data Scientist and i am Artificial engineer
I do a  Data Scientist and i am Artificial engineer

- isalpha : This is going to generate a boolean outputcome
- it is going to check weather every char in every string is alphabet or not

In [ ]:
a = 'python is very powerfull'

print(a.isalpha())  #

False

In [ ]:
a = 'pythonisverypowerfull'

print(a.isalpha())

True

In [ ]:
a = 'pythonisverypowerfull123'

print(a.isalpha())

False

- isdigit : it is going to check weather each char in given str is numerical value or not :[outcome-boolean]

In [ ]:

a = 'python is very powerfull '

print(a.isdigit())

False

In [ ]:
a = '123456890'

print(a.isdigit())

True

In [ ]:
a = '12345.6890'

print(a.isdigit())

False

alphanum : which is going to check weather given string having alphabet and numerical value

In [ ]:
a = "python"
print(a.isalnum())

True

In [ ]:
a = "python123"
print(a.isalnum())

True

In [ ]:
a = "python12.3"
print(a.isalnum())

False

- isdecimal  it meanse it will check given each char in str is int and float

In [ ]:
a = "python12.3"
print(a.isdecimal())

False

In [ ]:
a = "123"
print(a.isdecimal())

True

In [ ]:
a = "12.3"
print(a.isdecimal())

False

- 'islower'- which meanse it is going to check weather the given str starts with lower char or not[outcome comes in Boolean values]

In [ ]:
a = 'python'
print(a.islower())

True

In [ ]:
a = 'Python'
print(a.islower())

False

- isupper- checks each char is upper or not[prints boolean values]

In [ ]:
a = 'python'
print(a.isupper())

False

In [ ]:
a = 'Python'
print(a.isupper())

False

In [ ]:
a = 'PYTHON'
print(a.isupper())

True

- Title is going to convert 1st char as capital letter in every word
- diff blw title and capitalize method
    - capitalize is going to capital the first char in the given string
    - title is going to capitalize all the starting char in the each word

In [ ]:
a = 'python'
print(a.title())

Python

In [ ]:
a = 'python is powerfull'
print(a.title())
print(a.capitalize())

Python Is Powerfull
Python is powerfull

- swap case meanse viceversa
     - upper case converted into lower case

In [ ]:
a = 'i am doing great'
print(a.swapcase())  #Lower case converted into upper case

I AM DOING GREAT

In [ ]:
a = 'I AM DOING GREAT'
print(a.swapcase())  #upper case converted into lower case

i am doing great

- count = 'it counts the no of occurances of a char

In [ ]:
a = 'i am a data scientist'
print(a.count('a')) # a's in a

4

In [ ]:
a = 'i am a data scientist'
print(a.count('i')) # i's in a

3

In [ ]:
a = 'i am a data scientist data'
print(a.count('data',1,11))  #check data from index 1 to 11

1