<a href="https://colab.research.google.com/github/DhanasriBatchu/DSA/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**
- in tuples we cannot change memory allocation
- its main working processes is to assain multiple variables to a single variable
- there are 2 pre trained methods
- tuples will be represented with()

In [2]:
a = 'python'
print(type(a))

<class 'str'>

In [3]:
a = [10,12.4,'python']
print(type(a))

<class 'list'>

In [4]:
a = [10,12.4,'python']
print(a)

[10, 12.4, 'python']

In [5]:
b = (10,'python',['data science','ai'],100.8)
print(b)
print(type)

(10, 'python', ['data science', 'ai'], 100.8)
<class 'type'>

In [6]:
# Using Index access the python key words
b = (10,'python',['data science','ai'],100.8)
print(b[1])

python

In [7]:
b[2][0]

'data science'

In [8]:
b = (10,20,30,40,50,60)
print(b[::-1])

(60, 50, 40, 30, 20, 10)

**Finding memory allocation**
- adding a value
- replacing a value
- deleting a value

In [10]:
#  adding a value
b = (10,20,30,40,50,60)
b[3] = "python"
print(b)

TypeError: 'tuple' object does not support item assignment

In [11]:
# deleting a value
b = (10,20,30,40,50,60)
del b[3]
print(b)

TypeError: 'tuple' object doesn't support item deletion

In [12]:
# replacing a value
b = (10,20,30,40,50,60)
b[3] = "python"
print(b)

TypeError: 'tuple' object does not support item assignment

- There is no method for the tuple like replace method in str
- with 9index you cannot replace a value
- in tuple we are not having any method to replace

In [13]:
b = (10,20,30,40,50,70,101)
print(type(b))
a = list(b)
print(a)
print(type(a))

<class 'tuple'>
[10, 20, 30, 40, 50, 70, 101]
<class 'list'>

In [31]:
# we can exchage the list to tupple
b = (10,20,30,40,50,70,101)
print(type(b))
a[1] = 44
print(a)
print(type(a))
b= tuple(b)
print(b)
print(type(b))

<class 'tuple'>
[10, 44, 30, 40, 50, 70, 101]
<class 'list'>
(10, 20, 30, 40, 50, 70, 101)
<class 'tuple'>

In [4]:
# Assaining multiple values to a single variable
a = 12,12.4,'data'
print(a)
print(type(a))

(12, 12.4, 'data')
<class 'tuple'>

In [7]:
# Assaining multiple values to a single variable
a = 'Dhanu', 20,'Kakinada'
name,age,location=a
print(name)
print(age)
print(location)

Dhanu
20
Kakinada

- some operations with tuple

In [8]:
a = (10,20,30)
b = ('u','s','a')
print(a+b)

(10, 20, 30, 'u', 's', 'a')

In [14]:
a = (10,20,30)
print(a*3)
print(a[1]*3)
print(max(a))
print(min(a))
print(sum(a))

(10, 20, 30, 10, 20, 30, 10, 20, 30)
60
30
10
60

In [16]:
a = (10,20,30)
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

- if there is no sort method to sort the values in ascending or descending order we can take the help of python script function called sorted

In [17]:
a = (9,11,4,6,78,3,-1)
print(sorted(a)) #Here a is in tuple and output is in list' the tuple internally is in list' so output is in list format

[-1, 3, 4, 6, 9, 11, 78]

In [19]:
a = (9,11,4,6,78,3,-1)
print(sorted(a,reverse=True))

[78, 11, 9, 6, 4, 3, -1]

- pretrained methods
- 2 pretrained methods
     - 1.Index : finding the index of the value
     - 2.Count : it is used to count the value

In [22]:
a = (10,20,30,40,50)
print(a.index(50))

4

In [31]:
a = (10,20,30,40,50,23.4)
print(a.count(20))

1

**Split functions in string**

In [32]:
a = 'I want to travell to india'
print(a)

I want to travell to india

In [33]:
a = 'I want to travell to india'
print(a.split())

['I', 'want', 'to', 'travell', 'to', 'india']

In [34]:
a = 'I want to travell to india.''dhanu'
print(a.split('.'))

['I want to travell to india', 'dhanu']

In [36]:
a = 'I want to travell to india.','dhanu'
print(a[1])

dhanu

Join : used to add each and every charecter or word

In [56]:
a = 'I want to travell to india.''dhanu'
a = a.split()
print(a)
print()
b ="".join(a)
print(b)
print()
print("  ".join(b))

['I', 'want', 'to', 'travell', 'to', 'india.dhanu']

Iwanttotravelltoindia.dhanu

I  w  a  n  t  t  o  t  r  a  v  e  l  l  t  o  i  n  d  i  a  .  d  h  a  n  u

In [58]:
a=["p","y","t","h","o","n"]
b = "".join(a)
print(b)

python

In [69]:
a = 'i love programming language'
b = a.split()
print(b)
c=b[::-1]
print(c)
print(" ".join(c))

['i', 'love', 'programming', 'language']
['language', 'programming', 'love', 'i']
language programming love i